<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</html>

<body>
    
    <div id="root"></div>

</body>

<script>

var vm = new Vue({
    el : "#root",
    data : {
        allListe : [
            {
            titre: "le titre un",
            wTitre: false, 
            texte: "le texte un",
            wTexte: false
            },
            {
            titre: "le titre deux",
            wTitre: false, 
            texte: "le texte deux",
            wTexte: false
            }
        ],
        texteActif : null
    },
    methods : {
        affiche(i) {
            this.texteActif = this.allListe[i].texte;
        },
        ecritTitre(i) {
            this.allListe[i].wTitre = true;
        },
        saveTitle(i, event) {
            if (event.key) {
                this.allListe[i].titre = event.target.value;
                if (event.key == 'Enter') {
                    this.allListe[i].wTitre = false;
                }
            };
        },
        ajoute() {
            this.allListe.push({titre:"votre titre", wTitre:false, texte:"votre texte", wTexte: false});
            
        },
        saveAll(event) {
            // console.log(this.$refs.inputTitre);
            this.allListe.forEach((element, i) => {
                console.log(element.wTitre);
                element.wTitre = false;
            });
        }
    },
    template: 
        `<div v-on:click="saveAll($event)" >
            <button v-on:click="ajoute()">Ajouter une page</button>
            <div class="global">
                <ul class="liste">
                    <li v-for="(oneListe, i) in allListe"
                        v-on:click.stop="affiche(i)"
                        v-on:dblclick.stop="ecritTitre(i, $event)" >
                        <span v-if="allListe[i].wTitre == false">{{ oneListe.titre }}</span>
                        <input type="text" v-else v-bind:value="oneListe.titre" 
                        v-on:keyup="saveTitle(i, $event)" ref="inputTitre"/>
                    </li>
                </ul>
                <div class="affichage">{{ texteActif }}</div>
            </div>
        </div>`
});



</script>