body {
    background-color: #34286c;
    color: rgb(44, 44, 44);
    font-family: sans-serif;
}

.nav {
    padding: 25px;
    background-color: aqua;
}

.nav button {
    background-color: #34286c;
    border: none;
    color: aqua;
    padding: 12px;
    border-radius: 5px;
}

.nav button:hover,
.titles li:hover,
.note:hover {
    cursor: pointer
}

.bloc {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.titles {
    /* flex-grow: 1; */
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
}

.titles li {
    width: 15vw;
    list-style-type: none;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
    min-height: 30px;
    display: flex;
    align-items: center;
}

.titles input {
    width: 15vw;
}

.titles li,
.note {
    background-color: aqua;
}

.note {
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
    width: 70vw;
    height: 70vh;
}